In [15]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn

In [16]:
data = "C:/Users/Admin/Downloads/ML_Model/car.data"
df = pd.read_csv(data, header = None)
df.shape

(1728, 7)

In [17]:
col_name = ['buying','maint','doors','persons','lug_boot','safety','class']
df.columns = col_name
df.head()

  buying  maint doors persons lug_boot safety  class
0  vhigh  vhigh     2       2    small    low  unacc
1  vhigh  vhigh     2       2    small    med  unacc
2  vhigh  vhigh     2       2    small   high  unacc
3  vhigh  vhigh     2       2      med    low  unacc
4  vhigh  vhigh     2       2      med    med  unacc

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1728 entries, 0 to 1727
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   buying    1728 non-null   object
 1   maint     1728 non-null   object
 2   doors     1728 non-null   object
 3   persons   1728 non-null   object
 4   lug_boot  1728 non-null   object
 5   safety    1728 non-null   object
 6   class     1728 non-null   object
dtypes: object(7)
memory usage: 94.6+ KB

In [19]:
col_name = ['buying','maint','doors','persons','lug_boot','safety','class']
for col in col_name:
    print(df[col].value_counts())

buying
vhigh    432
high     432
med      432
low      432
Name: count, dtype: int64
maint
vhigh    432
high     432
med      432
low      432
Name: count, dtype: int64
doors
2        432
3        432
4        432
5more    432
Name: count, dtype: int64
persons
2       576
4       576
more    576
Name: count, dtype: int64
lug_boot
small    576
med      576
big      576
Name: count, dtype: int64
safety
low     576
med     576
high    576
Name: count, dtype: int64
class
unacc    1210
acc       384
good       69
vgood      65
Name: count, dtype: int64

In [20]:
df['class'].value_counts()

class
unacc    1210
acc       384
good       69
vgood      65
Name: count, dtype: int64

In [23]:
df.isnull().sum()

buying      0
maint       0
doors       0
persons     0
lug_boot    0
safety      0
class       0
dtype: int64

In [28]:
X = df.drop('class',axis=1)

In [27]:
y = df['class']

In [29]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size = 0.2, random_state = 42)

In [30]:
X_train.shape, X_test.shape

((1382, 6), (346, 6))

In [35]:
# converting caterogrical values into numerical
#pip install category_encoders
import category_encoders as ce
encoder = ce.OrdinalEncoder(cols = ['buying','maint','doors','persons','lug_boot','safety'])
X_train = encoder.fit_transform(X_train)
X_test = encoder.transform(X_test)

In [36]:
X_train

      buying  maint  doors  persons  lug_boot  safety
107        1      1      1        1         1       1
901        2      1      2        2         2       2
1709       3      2      1        3         1       1
706        4      3      3        3         3       2
678        4      3      2        3         3       3
...      ...    ...    ...      ...       ...     ...
1130       2      3      2        1         3       1
1294       2      2      1        1         1       2
860        4      2      1        1         3       1
1459       3      4      3        3         2       2
1126       2      3      2        1         2       2

[1382 rows x 6 columns]

In [37]:
X_test

      buying  maint  doors  persons  lug_boot  safety
599        4      4      3        3         3       1
1201       2      2      4        2         3       2
628        4      4      1        3         1       2
1498       3      4      1        2         3       2
1263       2      2      3        1         3       3
...      ...    ...    ...      ...       ...     ...
100        1      1      1        1         2       2
274        1      3      3        3         3       2
1206       2      2      4        1         2       3
101        1      1      1        1         2       1
1084       2      3      4        3         3       2

[346 rows x 6 columns]